extends ./layout.jade

block head
	title rouvenherzog - blog

block content
	div.posts
		each post in entries
			section.post
				header.post-header
					h2.post-title= post.title
					p.post-meta
						| written by 
						b.created-by #{post.created_by.username} 
						if post.created_by.username != post.modified_by.username
							| and modified by 
							b #{post.modified_by.username} 
						| on #{post.published_at.toLocaleDateString()}
				div.post-description
					if post.media.length
						div.post-images.pure-g.show-xs
							div.pure-u-1(itemscope, itemtype="http://schema.org/ImageGallery")
								figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
									a(
										itemprop="contentUrl",
										href="#{post.media[0].paths['1024'].path}",
										data-size="#{post.media[0].paths['1024'].width}x#{post.media[0].paths['1024'].height}"
									)
										img(src="#{post.media[0].paths['256'].path}", itemprop="thumbnail", alt="#{post.media[0].title}")

									figcaption.post-image-meta(itemprop="caption description") #{post.media[0].title}

					p!= post.isLongArticle ? post.summary.rendered : post.body.rendered

					if post.media.length
						div.post-images.pure-g.hide-xs
							each media in post.media.slice(0,4)
								div.pure-u-1(class="pure-u-md-#{ 24/post.media.slice(0,4).length }-24", itemscope, itemtype="http://schema.org/ImageGallery")
									figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
										a(
											itemprop="contentUrl",
											href="#{media.paths['1024'].path}",
											data-size="#{media.paths['1024'].width}x#{media.paths['1024'].height}"
										)
											img(src="#{media.paths['512'].path}", itemprop="thumbnail", alt="#{media.title}")

										figcaption.post-image-meta(itemprop="caption description") #{media.title}

				if post.isLongArticle || post.media.length > 4
					div.post-footer.hide-xs
						a(href="/blog/" + post._id).pure-button Read More
				if post.isLongArticle || post.media.length > 1
					div.post-footer.show-xs
						a(href="/blog/" + post._id).pure-button Read More